@import "settings";
@import "compass/css3/transition";
@import "compass/typography/vertical_rhythm";

html {
    background-color: $background-color;
    color: $text-color;
    font-family: $body-font-family;
    font-size: 100%;
    line-height: 1.5rem;
    text-shadow: 0 1px 2px rgba(#8a8a8a, .13);

    @media screen and (min-height: 41em) and (min-width: 80em) {
        & { font-size: 125%; }
    }

    @media screen and (min-height: 50em) and (min-width: 90em) {
        & { font-size: 150%; }
    }

    @media screen and (max-height: 36.14em) {
        & { font-size: 75%; }
    }
}

body {
    font-family: "Source Han Sans TC", sans-serif;
}

.ft-page {
    padding: 3rem 3.5rem;
    background-color: $slide-color;
}

.flowtime {
    h1, h2, h3, h4, h5, h6, p, ul, ol, dl, li, dt, dd {
        display: block;
        @include single-transition(all);
    }

    h1, h2, h3, h4, h5, h6 {
        color: $accent-color-primary;
        font-weight: bold;
        text-shadow: 0 1px 4px rgba($alt-color-secondary, .13);

        &.subtitle {
            color: $accent-color-secondary;
            font-weight: 500;
            text-shadow: 0 1px 2px rgba($alt-color-secondary, .13);
        }
    }

    h1 {
        @include adjust-font-size-to(56px);
        @include rhythm-margins(1, 2);
    }

    h2 {
        @include adjust-font-size-to(48px);
        @include rhythm-margins(2, 2);
    }

    h3 {
        @include adjust-font-size-to(36px);
        @include rhythm-margins(2, 2);
    }

    h4, h5, h6 {
        @include adjust-font-size-to(24px);
        @include rhythm-margins(2, 2);
    }

    p, ul, ol, dl {
        @include adjust-font-size-to(20px);
    }

    p {
        @include rhythm-margins(2, 2);
    }

    ul, ol, dl {
        margin: 2rem;
    }

    li, dd, dt {
        position: relative;
    }

    li, dd {
        @include trailer(1);
    }

    ol {
        counter-reset: list;
    }

    ul li, dl dt {
        &::before {
            color: $alt-color-secondary;
            content: "\2022";
            display: inline-block;
            left: -1rem;
            margin-right: -.5rem;
            position: absolute;
            text-align: right;
        }
    }

    dl dd {
        font-size: .8em;
        margin-left: 1rem;
    }

    ol li {
        &::before {
            color: $alt-color-secondary;
            content: counter(list) ".";
            counter-increment: list;
            display: inline-block;
            font-size: .8em;
            margin-right: 0.5rem;
            position: relative;
            top: -.2em;
        }
    }

    small, .small {
        font-size: 0.6em;
        vertical-align: middle;
    }

    pre, code {
        font-family: "Ubuntu Mono", "Source Code Pro", Consolas, Menlo, monospace;
        margin: 1rem 0;
    }

    strong {
        color: $accent-color-secondary;
        font-weight: bold;
    }

    q, cite, blockquote {
        font-style: italic;
    }

    q {
        quotes: "“" "”";

        &::before { content: open-quote; }
        &::after { content: close-quote; }
    }

    blockquote {
        font-size: 1.5rem;
        margin: 1.5rem 2rem;
        padding: 1rem;
        background-color: rgba(0,0,0,0.3);
        border-left: 0.5rem solid rgba(255,255,255,0.5);
        border-radius: 0.5rem;
    }

    .attention {
        color: $accent-color-primary;
    }

    sup {
        font-size: 0.7em;
        position: relative;
        top: -0.5em;
    }


    a, a:link, a:visited, a:hover, a:active, a:focus, a:hover img, a:active img, a:focus img {
        color: #32affc;
        text-shadow: 1px 1px 0 #000000;
        @include single-transition(all);
    }

    a:hover, a:active, a:focus, a:hover img, a:active img, a:focus img {
        color: #ff9900;
        outline: none;
        background-color: rgba(255,255,255,0.2);
        box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.5);
    }

    a:hover img, a:active img, a:focus img {
        box-shadow: 1px 2px 10px 5px rgba(0,0,0,0.5);
    }

    .stack {
        width: 100%;
        height: 100%;
        margin: 1rem 0;
        position: relative;
    }

    .stacked {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

    .stack-center {
        text-align: center;
        white-space: nowrap;
        position: absolute;
        top: 2rem;
        right: 2rem;
        bottom: 2rem;
        left: 2rem;
    }

    .stack-center:before {
        content: "";
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .stack-center .stacked-center {
        white-space: normal;
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .stack-center .stacked-center li {
        text-align: left;
    }
}
